<main>
    <!-- start banner Area -->
    <section class="banner-area">
        <div class="container">
            <div class="row fullscreen align-items-center justify-content-start">
                <div class="col-lg-12">
                    <div class="active-banner-slider owl-carousel">




                        @model List<FE.Model.NhanhieuH>

                        <!-- single-slide -->
                        @for (var i = 0; i < Model.Count && i < 3; i++) 
                        {
                            var sp = Model[i].sanphamList?.FirstOrDefault();
                            var ct = sp.ChiTietSanPhamList?.FirstOrDefault();
                            <div class="row single-slide">
                                <div class="col-lg-5 ">
                                    <div class="banner-content">
                                        <h1>
                                            @sp.TenSanPham -
                                            
                                            @if (ct != null)
                                            {
                                                @ct.TenMau
                                                }
                                           
                                        </h1>
                                        <p>
                                            @sp.MoTa
                                        </p>
                                        <div class="add-bag d-flex align-items-center">
<<<<<<< HEAD
<<<<<<< HEAD
                                            <a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
=======
                                            <a class="add-btn link"><span class="lnr lnr-cross"></span></a>
>>>>>>> 974d098 (ngochuan update lần 1)
=======
                                            <a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
>>>>>>> d23521803f7f06053b92c698bd41c98ddb7104b0
                                            <span class="add-text text-uppercase">Thêm vào giỏ hàng</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="banner-img">
                                        <img class="img-fluid" src="~/img/banner/@(ct.HinhAnh)" alt="">
                                    </div>
                                </div>
                            </div>
                        }


                        <!-- single-slide -->






                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    <!-- start features Area -->
    <section class="features-area section_gap">
        <div class="container">
            <div class="row features-inner">
                <!-- single features -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-features">
                        <div class="f-icon">
                            <img src="~/img/features/f-icon1.png" alt="">
                        </div>
                        <h6>Free Shipping</h6>
                        <p>Miễn phí ship trên mọi đơn</p>
                    </div>
                </div>
                <!-- single features -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-features">
                        <div class="f-icon">
                            <img src="~/img/features/f-icon2.png" alt="">
                        </div>
                        <h6>Chính sách đổi/trả hàng</h6>
                        <p>Đảm bảo sự minh bạch và công bằng</p>
                    </div>
                </div>
                <!-- single features -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-features">
                        <div class="f-icon">
                            <img src="~/img/features/f-icon3.png" alt="">
                        </div>
                        <h6>24/7 Support</h6>
                        <p>Hỗ trợ tận tình, nhanh chóng</p>
                    </div>
                </div>
                <!-- single features -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-features">
                        <div class="f-icon">
                            <img src="~/img/features/f-icon4.png" alt="">
                        </div>
                        <h6>Thanh toán an toàn</h6>
                        <p>Đảm bảo sự minh bạch và uy tín</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end features Area -->
    <!-- Start category Area -->
    <section class="category-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        <div class="col-lg-8 col-md-8">
                            <div class="single-deal">
                                <div class="overlay"></div>
                                <img class="img-fluid w-100" src="~/img/category/c1.jpg" alt="">
                                <a href="~/img/category/c1.jpg" class="img-pop-up" target="_blank">
                                    <div class="deal-details">
                                        <h6 class="deal-title">Sneaker for Sports</h6>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="single-deal">
                                <div class="overlay"></div>
                                <img class="img-fluid w-100" src="~/img/category/c2.jpg" alt="">
                                <a href="~/img/category/c2.jpg" class="img-pop-up" target="_blank">
                                    <div class="deal-details">
                                        <h6 class="deal-title">Sneaker for Sports</h6>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="single-deal">
                                <div class="overlay"></div>
                                <img class="img-fluid w-100" src="~/img/category/c3.jpg" alt="">
                                <a href="~/img/category/c3.jpg" class="img-pop-up" target="_blank">
                                    <div class="deal-details">
                                        <h6 class="deal-title">Product for Couple</h6>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8">
                            <div class="single-deal">
                                <div class="overlay"></div>
                                <img class="img-fluid w-100" src="~/img/category/c4.jpg" alt="">
                                <a href="~/img/category/c4.jpg" class="img-pop-up" target="_blank">
                                    <div class="deal-details">
                                        <h6 class="deal-title">Sneaker for Sports</h6>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-deal">
                        <div class="overlay"></div>
                        <img class="img-fluid w-100" src="~/img/category/c5.jpg" alt="">
                        <a href="~/img/category/c5.jpg" class="img-pop-up" target="_blank">
                            <div class="deal-details">
                                <h6 class="deal-title">Sneaker for Sports</h6>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End category Area -->
    <!-- start product Area -->
    <section class="owl-carousel active-product-area section_gap">
        <!-- single product slide -->
       

        @foreach (var nh in Model)
        {
            <div class="single-product-slider">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 text-center">
                            <div class="section-title">
                                <h1>@nh.tenNhanHieu</h1>
                            </div>
                        </div>
                    </div>






                    <div class="row">
                        <!-- single product -->

                        @{
                            foreach (var sp in nh.sanphamList)
                            {
                                foreach (var ct in sp.ChiTietSanPhamList)
                                {
                                    <div class="col-lg-3 col-md-6">
                                        <div class="single-product">
                                            <img class="img-fluid" src="~/img/product/@ct.HinhAnh" alt="">
                                            <div class="product-details">
                                                <h6>
                                                    @sp.TenSanPham - @ct.TenMau
                                                </h6>
                                                <div class="price">
                                                    <h6>@((ct.Gia - ct.Gia * ((decimal)sp.PhanTramKhuyenMai / 100)).ToString("F2"))</h6>


                                                    <h6 class="l-through">$@ct.Gia</h6>
                                                </div>
                                                <div class="prd-bottom">

<<<<<<< HEAD
<<<<<<< HEAD
                                                    <a href="" class="social-info">
=======
                                                    <a id="addCart" onclick="addToCart('@ct.IdChitietSp')" class="social-info" >
>>>>>>> 974d098 (ngochuan update lần 1)
=======
                                                    <a href="" class="social-info">
>>>>>>> d23521803f7f06053b92c698bd41c98ddb7104b0
                                                        <span class="ti-bag"></span>
                                                        <p class="hover-text">Giỏ hàng</p>
                                                    </a>

                                                    <a href="" class="social-info">
                                                        <span class="lnr lnr-move"></span>
                                                        <p class="hover-text">view more</p>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                        <!-- single product -->

                    </div>
                </div>
            </div>
        }

        <!-- single product slide -->








    </section>
    <!-- end product Area -->
    <!-- Start exclusive deal Area -->
    <section class="exclusive-deal-area">
        <div class="container-fluid">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6 no-padding exclusive-left">
                    <div class="row clock_sec clockdiv" id="clockdiv">
                        <div class="col-lg-12">
                            <h1>Exclusive Hot Deal Ends Soon!</h1>
                            <p>Who are in extremely love with eco friendly system.</p>
                        </div>
                        <div class="col-lg-12">
                            <div class="row clock-wrap">
                                <div class="col clockinner1 clockinner">
                                    <h1 class="days">150</h1>
                                    <span class="smalltext">Days</span>
                                </div>
                                <div class="col clockinner clockinner1">
                                    <h1 class="hours">23</h1>
                                    <span class="smalltext">Hours</span>
                                </div>
                                <div class="col clockinner clockinner1">
                                    <h1 class="minutes">47</h1>
                                    <span class="smalltext">Mins</span>
                                </div>
                                <div class="col clockinner clockinner1">
                                    <h1 class="seconds">59</h1>
                                    <span class="smalltext">Secs</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="" class="primary-btn">Shop Now</a>
                </div>
                <div class="col-lg-6 no-padding exclusive-right">
                    <div class="active-exclusive-product-slider">
                        <!-- single exclusive carousel -->

                        @{
                            var max = Model[0].sanphamList[0];
                            var value = max.PhanTramKhuyenMai;
                            foreach (var nh in Model)
                            {
                                foreach (var sp in nh.sanphamList)
                                {
                                    if (sp.PhanTramKhuyenMai >= value)
                                    {
                                        value = sp.PhanTramKhuyenMai;
                                    }
                                }

                            }
                            foreach (var nh in Model)
                            {
                                foreach (var sp in nh.sanphamList)
                                {
                                    if (sp.PhanTramKhuyenMai == value)
                                    {
                                        foreach(var ct in sp.ChiTietSanPhamList)
                        {
                                                <div class="single-exclusive-slider">
                                                    <img class="img-fluid" src="~/img/product/@ct.HinhAnh" alt="">
                                                    <div class="product-details">
                                                        <div class="price">
                                                            <h6>$@((ct.Gia - ct.Gia * ((decimal)sp.PhanTramKhuyenMai / 100)).ToString("F2"))</h6>
                                                            <h6 class="l-through">$@sp.ChiTietSanPhamList[0].Gia</h6>
                                                        </div>
                                                        <h4>
                                                            @sp.TenSanPham
                                                        </h4>
                                                        <div class="add-bag d-flex align-items-center justify-content-center">
                                                            <a class="add-btn" href=""><span class="ti-bag"></span></a>
                                                            <span class="add-text text-uppercase">Thêm vào giỏ hàng</span>
                                                        </div>
                                                    </div>
                                                </div>
                        }
                                        
                                    }
                                }

                            }

                        }

                        <!-- single exclusive carousel -->

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End exclusive deal Area -->
    <!-- Start brand Area -->
    <section class="brand-area section_gap">
        <div class="container">
            <div class="row">
                <a class="col single-img" href="#">
                    <img class="img-fluid d-block mx-auto" src="img/brand/1.png" alt="">
                </a>
                <a class="col single-img" href="#">
                    <img class="img-fluid d-block mx-auto" src="img/brand/2.png" alt="">
                </a>
                <a class="col single-img" href="#">
                    <img class="img-fluid d-block mx-auto" src="img/brand/3.png" alt="">
                </a>
                <a class="col single-img" href="#">
                    <img class="img-fluid d-block mx-auto" src="img/brand/4.png" alt="">
                </a>
                <a class="col single-img" href="#">
                    <img class="img-fluid d-block mx-auto" src="img/brand/5.png" alt="">
                </a>
            </div>
        </div>
    </section>
    <!-- End brand Area -->
    <!-- Start related-product Area -->
    
    <!-- End related-product Area -->
    
</main>
    
<<<<<<< HEAD
<<<<<<< HEAD
=======
<script>
function getCookieValue(name) {
    let nameEQ = name + "=";
    let ca = document.cookie.split(';');
    for (let i = 0; i < ca.length; i++) {
        let c = ca[i];
        while (c.charAt(0) == ' ') c = c.substring(1, c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
    }
    return null;
}

    function addToCart(idctsp){

                if (getCookieValue('idUser') === null || getCookieValue('idUser') === '') {
                    alert("Bạn cần đăng nhập trước");
                    window.location.href = 'http://localhost:65286/Account/Login';
                } else {
                    var iduser = getCookieValue('idUser');
                    var url = `http://localhost:5288/ChitiethoadonH/users/${iduser}/products/${idctsp}`;
                    console.log(url)
                    fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                alert(data.message);
                            } else {
                                alert(data.message);
                            }
                        })
                        .catch(error => {
                            alert("Đã xảy ra lỗi: " + error);
                        });
                }
    }
</script>
>>>>>>> 974d098 (ngochuan update lần 1)
=======
>>>>>>> d23521803f7f06053b92c698bd41c98ddb7104b0
